@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
    color: #242424;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

.btn.primary {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 8px;
    padding: 10px 20px; 
    transition-duration: 0.3s;
}

.btn.primary:hover {
    background-color: rgb(120, 120, 120);
    color: rgba(255, 236, 236, 0.8);
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}